{% extends "base.html" %}

{% block meta_description %}
{% if article.summary %}
<meta name="description" content="{{ article.summary|striptags }}">
{% else %}
<meta name="description" content="{{ article.title|striptags }}">
{% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
<section>
  <header class="font-bold text-3xl mt-8 mb-4">
    <h1>{{ article.title }}</h1>
  </header>
  <p>
    {% if article.author %}
    Di {{ article.author }}
    {% endif %}

    <span class="fas fa-calendar-alt"></span> <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>

    {% if article.modified %}
    <span class="fas fa-edit"></span> <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
    {% endif %}
  </p>

  <p class="text-gray-500">
    {% if article.tags %}
    <span class="fas fa-tags"></span>
    {% for tag in article.tags %}
    <a href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
    {% endfor %}
    {% endif %}
  </p>
</section>

{% if article.attachment %}
<section class="mt-8 text-xl">
  <a class="text-indigo-500 hover:text-pink-700" href="{{ article.attachment }}"><i class="fa fa-save"></i> <span class="underline">Scarica il documento<span></a>
</section>

<section class="border-b-2 border-gray-200 mt-8">
  {{ article.content }}
</section>
{% endif %}

{% if article.series %}
<section class="border-b-2 border-gray-200 mt-8">
  {% set text = 'Part %(index)s of the %(name)s series' %}
  <h2>{{ text|format(index=article.series.index, name=article.series.name) }}</h2>
  <div>
    {% if article.series.all_previous %}
    <h5>Previous articles</h5>
    <ul>
      {% for article in article.series.all_previous %}
      <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if article.series.all_next %}
    <h5>Next articles</h5>
    <ul>
      {% for article in article.series.all_next %}
      <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endif %}

<section class="mt-8">
{% if article.related_posts %}
  <h2 class="text-xl font-bold inline-block pb-4 mb-6 border-b-2 border-indigo-500">Articoli simili</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-8">
    {% for article in article.related_posts[:4] %}
    <article class="bg-white rounded-lg overflow-hidden shadow-md flex flex-col">
      <a href="/{{ article.url }}">
	<img class="w-full h-32 object-cover" src="/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg" alt="{{ article.image if article.image else 'article_image_placeholder' }}" />
      </a>
      <div class="p-4 flex-1 flex flex-col">
	<div class="pb-4 border-gray-200 border-b-2 flex-1">
	  <a class="font-bold text-2xl" href="/{{ article.url }}">{{ article.title }}</a>
	</div>
	<div class="flex flex-row text-gray-500">
	  <div class="flex-1">
	    <time datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%b %Y') }}</time>
	  </div>
	  <div class="flex-1 uppercase">
	    {% if article.tags %}
	    <p>
              <span class="fas fa-tags"></span>
              {% for tag in article.tags %}
              <a class="text-gray-400" href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
              {% endfor %}
	    </p>
	    {% endif %}
	  </div>
	</div>
      </div>
    </article>
    {% endfor %}
  </div>
{% else %}
  <h2 class="text-xl font-bold inline-block pb-4 mb-6 border-b-2 border-indigo-500">Ultimi articoli</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-8">
    {% for article in articles[:4] %}
    <article class="bg-white rounded-lg overflow-hidden shadow-md flex flex-col">
      <a href="/{{ article.url }}">
	<img class="w-full h-32 object-cover" src="/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg" alt="{{ article.image if article.image else 'article_image_placeholder' }}" />
      </a>
      <div class="p-4 flex-1 flex flex-col">
	<div class="pb-4 border-gray-200 border-b-2 flex-1">
	  <a class="font-bold text-2xl" href="/{{ article.url }}">{{ article.title }}</a>
	</div>
	<div class="flex flex-row text-gray-500">
	  <div class="flex-1">
	    <time datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%b %Y') }}</time>
	  </div>
	  <div class="flex-1 uppercase">
	    {% if article.tags %}
	    <p>
              <span class="fas fa-tags"></span>
              {% for tag in article.tags %}
              <a class="text-gray-400" href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
              {% endfor %}
	    </p>
	    {% endif %}
	  </div>
	</div>
      </div>
    </article>
    {% endfor %}
  </div>
{% endif %}
</section>

{% endblock %}
