{% extends "base.html" %}

{% block title %}Home{% if articles_page.number != 1 %} Page {{ articles_page.number }}{% endif %}{% endblock %}

{% block meta_description %}
<meta name="description" content="A blog featuring in-depth posts about Python, Scala, TDD, devops, security and all things development{% if articles_page.number != 1 %} - Page {{ articles_page.number }}{% endif %}">
{% endblock %}

{% block content %}
<section class="">
  <div class="">
    <img class="w-full h-full pt-4 relative object-cover object-center lg:max-h-60" src="/images/global/cover_banner.jpg" alt="Cover" />
    <div class="text-3xl mt-4 font-bold text-center md:text-5xl lg:text-7xl">{{ SITENAME }}</div>
  </div>
</section>

<section class="mt-8">
  <header>
    <h2 class="text-xl font-bold inline-block pb-4 mb-6 border-b-2 border-indigo-500">Ultimi articoli</h2>
  </header>

  {% include 'includes/paginated_posts.html' %}

</section>
{% endblock %}
