{% set _other_num = 3 %}
<div class="flex flex-col space-y-8">
  {% for article in articles[:_other_num] %}
  <article class="bg-white rounded-lg overflow-hidden shadow-md flex flex-col">
    <a href="/{{ article.url }}">
      <img class="w-full h-32 object-cover" src="/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg" alt="{{ article.image if article.image else 'article_image_placeholder' }}" />
    </a>
    <div class="p-4 flex-1">
      <a class="font-bold text-lg" href="/{{ article.url }}">{{ article.title }}</a>
    </div>
  </article>
  {% endfor %}
</div>
