<nav>
  {% include 'includes/navigation/links.html' %}
</nav>
<section>
  <header>
    <h2>Categorie</h2>
  </header>
  {% include 'includes/navigation/categories.html' %}
</section>
<section>
  <header>
    <h2>Feed</h2>
  </header>
  {% include 'includes/navigation/feeds.html' %}
</section>
<section>
  <header>
    <h2>Tag</h2>
  </header>
  {% include 'includes/navigation/tags.html' %}
</section>
<section>
  <header>
    <h2>Contatti</h2>
  </header>
  <ul class="contact">
    {% for s in SOCIAL %}
    <li><i class="fab fa-{{ s.icon }}" aria-hidden="true"></i> <a href="{{ s.url }}">{{ s.name }}</a></li>
    {% endfor %}
  </ul>
</section>
